
.card{
    width: 17vw;
    height: 39vh;
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    font-size: 17px;
    position: relative;
    overflow: hidden;
    border:1px solid transparent;
    margin: 30px;
    
}
.card:hover{
    transform: scale(1.2);
    transition: .4s;
    cursor: pointer;
}
.card p{
    margin:7px;
}
.card img{
    border:1px solid transparent;
    width: 17vw;
    height: 26vh;
    margin-bottom: 10px;
}
/* .card a .description{
    position: absolute;
    width:17vw;
    height: 25vh;
    border:1px solid transparent;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 4px;
    color:#1A1A1A;
    color: bisque;
    transform: translateY(-110%);
    transition: transform 0.3s ease-in-out;
    max-height: 100%;
    overflow: auto;

    
}
.card:hover .description {
    transform: translateY(0%);
  } */

.card .fa-heart-circle-check{
  position:absolute;
  background-color: transparent;
  border: 1px solid transparent;
  color: bisque;
  font-size:25px;
  left: 83%;
  top: 70%;
  }
.card .fa-heart-circle-check:hover{
    color:rgba(255, 255, 0, 0.644);
    cursor: pointer;
}

.card .fa-heart-circle-xmark{
    position:absolute;
    background-color: transparent;
    border: 1px solid transparent;
    color: bisque;
    font-size:25px;
    left: 83%;
    top: 70%;
} 
.card .fa-heart-circle-xmark:hover{
    color:rgba(255, 255, 0, 0.644);
    cursor: pointer;
}

